!!! 5
html(lang="en")
    head
        title=pageTitle
        link(href="http://local/global/global.css",rel="stylesheet")
        each css in config.views[config.currentView].cssLink
            link(href="http://local/#{css}.css",rel="stylesheet")
    body
        div(class="all")
        div(class="box")
            h1 Path:
                - path.forEach(function(item){
                    - if(item.href!==undefined)
                        a(href="/"+item.href)=item.text
                        /
                    - else
                        span=item.text
                - })
            input#search_input(class='txt',type='text',name='q',style='display:inline;')
            input#search_engine_button(class='btn',type='submit',value='搜索',style='display:inline;')
        #container
            ul(id="sort-ul")
              - list.forEach(function(item){
                li(time=item.time)
                    div(class="word")
                       a(href=item.href)=item.text
                    span(class="del",filename=item.href)
                      a|删除
                    span(class="revise")
                      a|修改
              - })
        #config-container
            select#switch-views
                each item in Object.keys(config.views)
                    - if (item===config.currentView)
                        option(value=item,selected='selected')=config.views[item].title
                    - else
                        option(value=item)=config.views[item].title
            select#list-sort
                option(value="time_desc") 时间降序
                option(value="time_asc") 时间升序
        #toolBackTo(class="back-to")
            a(onclick="window.scrollTo(0,0);return false;")
                img(src="http://local/global/back.png")
        script(src="http://local/global/jquery.js")
        script(src="http://local/global/global.js")
        each js in config.views[config.currentView].jsLink
            script(src="http://local/#{js}.js")

