!!! 5
html(lang="en")
    head
        title=pageTitle
        style=defaultCSS
    body
        #container
            h1 Index of
                span=pageTitle
            ul
              - list.forEach(function(item){
                li
                    a(href=item.href)=item.text
              - })
        script=defaultJS
